{%load static%}


<!DOCTYPE html>
<html>
<head>
  <title>TODO LIST</title>
</head>
<body>
<div class = "text_boxes">
  
<table >
  <tr>
    <th>Test Run ID</th>
    <th>Test Case</th>
    <th>On Meter</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Status</th>

  </tr>
  <tr>
    <td><input type="text" name="test_run_id"></td>
    <td><input type="text" name="test_case"></td>
    <td><input type="text" name="on_meter"></td>
    <td><input type="date" name="start_time"></td>
    <td><input type="date" name="start_time"></td>
  </tr>




</div>

<div class = "data_table">
<table >
  <tr>
    <th>Test Run ID</th>
    <th>Test Case</th>
    <th>On Meter</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Status</th>

  </tr>
  <tr>
    <td>1000</td>
    <td>Reset Meter</td>
    <td>20:10 07/09</td>
    <td>    -  </td>
    <td>Status</td>
  </tr>
  <tr>
    <td>1000</td>
    <td>Reset Meter</td>
    <td>20:10 07/09</td>
    <td>    -  </td>
    <td>Status</td>
  </tr>
  <tr>
    <td>1000</td>
    <td>Reset Meter</td>
    <td>20:10 07/09</td>
    <td>    -  </td>
    <td>Status</td>
  </tr>
</table>
</div>



</body>
</html>